<% if (locals.localData) { %>
<script id="localdata">
  var
    yy = window.yy || {};

  yy = <%- JSON.stringify(localData) %>;
</script>
<% } %>

<% if (process.env.NODE_ENV === 'production' || process.env.NODE_ENV === 'staging') { %>
  <script async src="/js/app.bundle.min.3344bf42.js"></script>
<% } else { %>
  <script async src="/js/app.bundle.js"></script>
<% } %>
</body>
</html>
